{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block main %}
<div class="jumbotron">
  <h1 class="display-4">Bienvenue sur mon site de recettes!</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo incidunt, illum odio omnis sequi, voluptates odit ab impedit vitae sunt quibusdam, ducimus fugiat ipsum debitis itaque alias! Expedita, corrupti atque repudiandae cumque, explicabo totam eos blanditiis nam optio, sed a facilis quibusdam? Est, temporibus voluptatem? Recusandae libero necessitatibus minima harum?</p>
  <hr class="my-4">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias exercitationem dolores suscipit fugiat dolore nostrum eos illo voluptatum debitis blanditiis, repudiandae perspiciatis, sint quos ab assumenda facere, laborum voluptate explicabo. Blanditiis fugit rem perspiciatis sequi facilis labore! Quaerat aspernatur, mollitia atque, odit accusamus amet blanditiis ipsa dolorum molestias sint cupiditate.</p>
  <a class="btn btn-primary btn-lg" href="{{ path('recettes') }}" role="button">Découvrir mes recettes</a>
</div>
{% endblock %}
